<h1>ユーザー一覧</h1>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-borderd">
      <tr>
        <th>名前</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, edit_user_path(user) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>